/*
.header-column {
  margin-top: 0.25rem;
}
.group-icon {
  display: inline;
}
.group-title {
  font-size: 14px;
  display: inline;
  vertical-align: middle;
}
.field-title {
  font-size: 10px;
  line-height: 1.1rem;
  margin-bottom: 0.25rem;
  font-style: normal;
  font-weight: 900;
}
.field-value {
  font-size: 12px;
  line-height: 1.1rem;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: normal;
}

.solid {
  position: absolute;
  bottom: 0px;
  border: 1px solid #e3e1e1;
  height: 0;
  margin: 0;
}
.divider-full {
  width: 90%;
}
.divider-half {
  width: 80%;
}
*/