.container {
    /* background-color: white;
    padding: 16px;
    max-height: 480px;
    overflow-y: scroll;
    display: block; */
    border: 1px solid #ccc;
    /*padding: 20px;*/
}

.name {
    font-size: 2rem;
    font-weight: 400;
}

.summary {
    font-size: 1rem;
    font-weight: 200;
}

.field-title {
    font-size: .75rem;
    line-height: 1.25;
    margin-bottom: .25rem;
}